@model Prize[]
<section id="giveaways">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3">
            <h1>Awesome giveaways!</h1>
            <div class="divider"></div>
        </div>
        <div class="row"> </div>
        <!-- row -->
        <div class="row">
            @foreach (var giveaway in Model)
            {
                <div class="col-md-6 text-center">
                    @foreach (var product in giveaway.Products)
                    {
                        <a href="@product.ProductLink" target="_blank"><img src="@product.ImageUrl" height="200px"></a>
                    }
                    <h2>by <a href="@giveaway.SponsorLink" target="_blank">@giveaway.Name</a>
                    </h2>
                </div>
            }
        </div>
        <!-- row -->
    </div>
</section>