@model Session
@{ 
    bool hasSpeaker = false;
    if (Model.Speakers != null && Model.Speakers.Any())
    {
        hasSpeaker = true;
        foreach (var speaker in Model.Speakers)
        {
            string speakerName = speaker.Name;
            if (string.IsNullOrEmpty(speakerName)
            || speakerName.Equals("TBD", StringComparison.InvariantCultureIgnoreCase)
            || speakerName.Equals("TBC", StringComparison.InvariantCultureIgnoreCase))
            {
                speakerName = "TBD";
                hasSpeaker = false;
            }
        }
    }
}
<div class="agenda-event @(Model.Center ? "text-center" : "text-left") pl-20 pr-20">
    <b>@Model.Title</b><br>
    <p class="text-justify">@Html.Raw(Model.Description)</p>
    @if (hasSpeaker)
    {
        foreach (var speaker in Model.Speakers)
        {
            @await Html.PartialAsync("_SessionSpeaker", speaker)
        }
        <br />
    }
    
</div>
